main, header {
	font-family: "Open Sans", Monospace;
}

/*---------------------------------------------HEADER--------*/

header, p.header, nav {
	overflow: auto;
	
}

header p.header {
	float: left;
	margin-left: 40px;
}

header nav {
	float: right;
	padding: 35px;
}

p.header {
	font-size: 36px;
}

p.ma {
	font-size: 26px;
}

p.center-libarc {
	font-family: "Open Sans";
	text-align:none;
}

main {
	height: 550px;
	border-style: solid;
	border-width: medium;
	border-color: pink;
	margin-right: 15px;
    margin-left: 15px;
	padding: 50px;
}

/*-----------------------------------------------LINKS--------*/
/* unvisited link */
header p.header a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header p.header a:visited {
    color: black;
    text-decoration: none;
}

/* unvisited link */
header nav a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: black;
    text-decoration: none;
}

/* unvisited link */
main a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
main a:visited {
    color: black;
}

/* mouse over link */
main a:hover {
    color: white;
}

/* selected link */
main a:active {
    color: white;
}

/*-----------------------------------------------MAIN--------*/

main div.container-left {
	float: left;
	width: 350px;
	margin: 40px 0px 0px 40px;
/*	border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

main div.container-right {
	float: right;
	width: 650px;
	height:500px;
/*	border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------MAIN LIBARC--*/

main div.container-libarc-left {
	float: left;
	width: 30%;;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

main div.container-libarc-center {
	margin-left: 5%;
	display: inline-block; 
	width: 30%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

main div.container-libarc-right {
	float: right;
	width: 30%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------BUTTONS--*/

.button {
	font-family: "Open Sans";
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.libraries1, .libraries2, .libraries3 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.libraries1:hover,.libraries2:hover,.libraries3:hover {
	background-color: #e7e7e7;}

.archives1, .archives2, .archives3 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.archives1:hover,.archives2:hover,.archives3:hover {
	background-color: #e7e7e7;}

.lgbtqi1, .lgbtqi2, .lgbtqi3 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.lgbtqi1:hover, .lgbtqi2:hover, .lgbtqi3:hover {
	background-color: #e7e7e7;}

/*-----------------------------------------------LISTS--*/

ul.libraries {
	list-style-type:none;
	padding-left:0;
}

ul.archives {
	list-style-type:none;
	padding-left:0;
}

ul.lgbtqi {
	list-style-type:none;
	padding-left:0;
}
