
main, header {
	font-family: "Open Sans", Monospace;
}

/*---------------------------------------------HEADER--------*/

header, p.header, nav {
	overflow: auto;
	
}

header p.header {
	float: left;
	margin: 20px 0 0 40px;
}

header nav {
	float: right;
	padding: 35px;
}

p.header {
	font-size: 36px;
}

/*---------------------------------------------MAIN--------*/

.ma {
	font-size: 26px;
}

.center-libarc {
	font-family: "Open Sans";
}

main {
	/*height: 550px;*/
	border-top-style: solid;
	border-width: medium;
	border-color: #e7e7e7;
	margin: 0 15px 0 15px;
	padding: 10px 20px 20px 20px;
}

/*-----------------------------------------------LINKS--------*/
/* unvisited link */
header p.header a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header p.header a:visited {
    color: black;
    text-decoration: none;
}

/* unvisited link */
header nav a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: black;
    text-decoration: none;
}

/* unvisited link */
main a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
main a:visited {
    color: blue;
}

/* mouse over link */
main a:hover {
    color: red;
}

/* selected link */
main a:active {
    color: red;
}

/*------------------------------------------------MAIN INDEX--*/

.container-left {
	float: left;
	width: auto;
	margin: 30px 0 0 40px;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-right {
	float: right;
	margin: 0 170px 0 0;
	/*width: 650px;
	height:500px;
	border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*------------------------------------------------MAIN BIKE--*/

.container-bike-left {
	float: left;
	width: 300px;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-bike-right {
	float: right;
	/*width: 650px;
	height:500px;
	border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------MAIN LIBARC--*/

.container-libarc-left {
	float: left;
	width: 30%;;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-libarc-center {
	margin-left: 5%;
	display: inline-block; 
	width: 30%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-libarc-right {
	float: right;
	width: 30%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------MAIN ABOUT--*/

.container-about-left {
	float: left;
	width: 60%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-about-right {
	float: right;
	width: 30%;
	margin-top: 100px;
	margin-right: 50px;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------MAIN ABOUT-CV--*/

.container-about-cv-left {
	float: left;
	padding: 0 90px 0 0;
	border-right-style: solid;
	border-right-width: medium;
	border-right-color: #e7e7e7;
}

.container-about-cv-right {
	float: left;
}

/*-----------------------------------------------MAIN RESEARCH--*/

.container-research-left {
	float: left;
	width: 60%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

.container-research-right {
	float: right;
	width: 30%;
	/*border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*-----------------------------------------------MAIN WEB--*/

.container-web-left {
	float:left;
	width: 40%;

}

.container-web-right {
	float: right;
	margin: 0 20px 0 0;
	/*width: 650px;
	height:500px;
	border-style: solid;
	border-width: medium;
	border-color: pink;*/
}

/*------------------------------------------------MAIN CV--*/

.container-cv {
	float:left;
	width: 400px;
}
/*------------------------------------------------BUTTONS--*/

.button {
	font-family: "Open Sans";
    background-color: #4CAF50; /* Green */
    border: #e7e7e7;
    color: white;
    padding: 6px 32px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.index {
    background-color: white;
    width: 100%;
    color: black;
    font-size: 26px;
    text-align: left;
}

.index:hover {
    background-color: #e7e7e7;
    color: black;
}

.about1, .about2 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
 
.about1:hover, .about2:hover {
	background-color: #e7e7e7;
	color: black;
}

/*-----------------------------------------------LISTS--*/

.libraries {
	list-style-type:none;
	padding-left:0;
}

.archives {
	list-style-type:none;
	padding-left:0;
}

.lgbtqi {
	list-style-type:none;
	padding-left:0;
}

.about {
	list-style-type:none;
	padding-left:0;
}

.cv {
	list-style-type:none;
	padding-left:0;
}

/*-----------------------------------------------FULL IMAGE BACKGROUND--*/

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 


<meta name="viewport" content="width=device-width, initial-scale=1.0"> A

<meta> viewport element gives the browser instructions on how to control the
page's dimensions and scaling.

The width=device-width part sets the width of the page to follow the screen-
width of the device (which will vary depending on the device).

The initial-scale=1.0 part sets the initial zoom level when the page is first
loaded by the browse


1. Do NOT use large fixed width elements - For example, if an image is
displayed at a width wider than the viewport it can cause the viewport to
scroll horizontally. Remember to adjust this content to fit within the width
of the viewport.

2. Do NOT let the content rely on a particular viewport width to render well -
Since screen dimensions and width in CSS pixels vary widely between devices,
content should not rely on a particular viewport width to render well.

3. Use CSS media queries to apply different styling for small and large
screens - Setting large absolute CSS widths for page elements, will cause the
element to be too wide for the viewport on a smaller device. Instead, consider
using relative width values, such as width: 100%. Also, be careful of using
large absolute positioning values. It may cause the element to fall outside
the viewport on small devices.


*/