main, header {
	font-family: "courier", Monospace;
}

/*---------------------------------------------HEADER--------*/

header, p.header, nav {
	overflow: auto;
	
}

header p.header {
	float: left;
	margin-left: 40px;
}

header nav {
	float: right;
	padding: 35px;
}

p.header {
	font-size: 2em;
}

main {
	background: lightpink;
	padding: 100px;
}

/*-----------------------------------------------LINKS--------*/

/* unvisited link */
header nav a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: black;
    text-decoration: none;
}

/* unvisited link */
main a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
main a:visited {
    color: black;
}

/* mouse over link */
main a:hover {
    color: white;
}

/* selected link */
main a:active {
    color: white;
}

/*-----------------------------------------------MAIN--------*/

main div.container {
	width: 350px;
}